/* 1 content - შიგნითა ნაწილი სადაც ტექსტი ან სურათია          */
/* 2 padding - შიდა სივრცე content-სა და border-ს შორის         */
/* 3 border - ჩარჩო რომელიც padding-ს გარშემოა                 */
/* 4 margin - გარე დაშორება border-დან სხვა ელემენტებამდე     */

div {
  font-family: Arial sans-serif;
  text-align: center;
  line-height: 100px;
  color: black;
}

.step1 {
  width: 200px;
  height: 100px;
  background-color: lightblue
}

.step2 {
  width: 200px;
  height: 100px;
  background-color: lightyellow;
  padding: 20px
}

.step3 {
  width: 200px;
  height: 100px;
  background-color: lightpink;
  padding-top: 40px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 30px
}

.step4 {
  width: 200px;
  height: 100px;
  background-color: lightgreen;
  padding: 20px;
  border: 5px solid black
}

.step5 {
  width: 200px;
  height: 100px;
  background-color: lightcoral;
  padding: 20px;
  border: 5px dashed blue
}

.step6 {
  width: 200px;
  height: 100px;
  background-color: lightsalmon;
  padding: 20px;
  border: 5px solid gray;
  margin: 30px
}

.step7 {
  width: 200px;
  height: 100px;
  padding: 20px;
  border: 4px solid teal
}

.first {
  background-color: palegreen;
  margin: 20px
}

.second {
  background-color: palevioletred;
  margin-top: 60px;
  margin-right: 10px;
  margin-bottom: 80px;
  margin-left: 40px
}