/* 1
პრიორიტეტების რიგი

inline style
id
class
element*/

/* 2 */
/* id უფრო პრიორიტეტულია ვიდრე class
იმიტომ რომ id უფრო ზუსტია */
#boxid {
color: red;
}

.boxclass {
color: blue;
}

/* 3 */
/* rgb ნიშნავს red green blue
ეს არის სამი ფერი ერთად */

/* 4 */
.blue {
color: rgb(0 0 255);
}

.red {
color: rgb(255 0 0);
}

.green {
color: rgb(0 255 0);
}

/* 5 */
.wrap {
background-color: #000000;
color: #ffffff;
}