
/* 2) */
p {
  background: rgb(255, 230, 180);
  margin: 15px;
  padding: 10px;
}

body {
  background: rgb(255, 245, 220);
}

/* 3) */
/* იყენებ ; ყველა წეისის ბოლოში
წერ სუფთათ ახალ ხაზზე
იყენებ rem ან % pxის მაგივრად */

/* 4) */
.yellow-box {
  width: 200px;
  height: 120px;
  background: #ffff00;
  margin: 30px auto;
}

/* 5) */
img {
  width: 50%;
  display: block;
  margin: 20px auto;
}

/* 6) */
/* px არ იცვლება ეკრანის ზომასთან
მობილურზე ძალიან პატარა ხდება
კარგია rem ან % */